.order-list-head{
    text-align: center;
}

.order-details-block{
    border-style:  solid;
    border-color: burlywood;
    margin:  0px 250px auto;
}
.empty{
    border-style:  solid;
    border-color: white;
    margin:  0px 550px auto;
}
.order-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-details h4{
   color: pink;
}

.order-details p{
    margin: 4px 0px;

 }


.order-summary{
    display: flex;
    align-items: center;
}
.order-title{
    margin-left: 25px;
}

.btn-add{
    margin-right: 15px; 
    padding: 7px;
    background-color: green;
    color: aliceblue;
    border-color: green;
}

.btn-remove{
    margin-right: 10px;
    padding: 7px;
    background-color: red;
    color: aliceblue;
    border-color: red;
}

.total-price{
    margin-left: 980px;
}

