.heading{
    background-color: blue;
    color: white;
    display: flex;  
    align-items: center;
  } 
  h1{
    font-weight: 100;
    padding: 8px;
    width: 55%;
    font-size: x-large;
    text-align: right;
  }
  h5{
    width: 45%;
    text-align: right;
    padding-right: 40px;
    color: white;
  }
  h2{
    font-size: x-larger;
    font-weight: 500;
    margin: 28px 0px;
    text-align: center;
    
  }
  .logo{
    text-decoration: none;
    color: white;
  }